.container.fill
	#myCarousel.carousel.slide
		.carousel-inner
			.active.item
				.slide1(style="background-image:url('assets/images/flowers.jpg');")
					.container
			.item
				.slide2(style="background-image:url('assets/images/flowers.jpg');")
					.container
			.item
				.slide3
					.container
		.pull-center
			a.carousel-control.left(href="#myCarousel", data-slide="prev")
			a.carousel-control.right(href="#myCarousel", data-slide="next")