.navbar-fixed
	nav
		.nav-wrapper.grey.darken-3
			a.brand-logo(href="#") WeDevJS
			ul.right.hide-on-med-and-down
				li.active
					a(href='#') Home
				li
					a(href='#about') About
				li
					a(href='#contact') Contact
