.navbar-fixed
	nav
		.nav-wrapper.grey.darken-3
			a.brand-logo(ui-sref="/") WeDevJS
			ul.right.hide-on-med-and-down
				li.active
					a(ui-sref='home') Home
				li
					a(ui-sref='about') About
				li
					a(ui-sref='contact') Contact
