$color: #454545;
$black: #000;
$white: #FFF;
$site-background: #3A414C;


html {
	min-height: 100%;
}
body {
	background-color: $site-background;
	margin-top: 50;
	width: 100%;
}
.navbar {
	background-color: $site-background;
	.navbar-brand {
		color: $white;
	}
	.navbar-right {
		margin-right: 0;
	}
	.login{
		border-left: 2px solid white;
	}
	@media (max-width: 767px) {
		.navbar-nav {
  			display: inline-block;
  			float: none;
  			margin: 0 auto;
  			text-align: center;
  			vertical-align: top;
  			width: 100%;
		}
		.navbar-collapse {
 			padding: 0;
		}

	}
} 

.carousel-inner {
	max-height: 500;
	width: 100%;
}

.container {
	height: 100%;
	width: 100%;
}


