//- index.jade
//- Include Header
include ./includes/header.jade

.container(ng-controller="mainController")
	h1 This is our application!s
	h2 Esta es nuestra applicacion!

//- Include Footer
include ./includes/footer.jade