//- index.jade
//- Include Header
include ./includes/header.jade
//- Including Bootstrap default navbar
include ./includes/navbar.jade
include ./includes/carousel.jade

.container(ng-controller="mainController")
	


//- Include Footer
include ./includes/footer.jade